<%= form_for [:admins, @product] do |f| %>
	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

	<div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>

  <h5>Varients</h5>
  <div class="varients-container" id="varients-container">
    <%= f.fields_for :varients do |varient_builder| %>
      <%= render 'varient_fields', f: varient_builder %>
    <% end %>
    <%= link_to_add_fields 'Add varient', f, :varients, 'add-varient-builder-btn btn' %>
  </div>

  <div class="field">
  	<%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).on('click', '.add-varient-builder-btn', function(){
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).parent('.varients-container').before($(this).data('fields'));
    event.preventDefault();
  })

  $(document).on('click', '.remove-varient-builder-item', function(event){
    $(this).siblings('input').val('1');
    $(this).closest('.varient-builder-item').hide();
    event.preventDefault();
  })
</script>
