<%= form_for [:admins, @product] do |f| %>
	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

	<div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>

  <h5>Variants</h5>
  <div class="variants-container" id="variants-container">
    <%= f.fields_for :variants do |variant_builder| %>
      <%= render 'variant_fields', f: variant_builder %>
    <% end %>
    <%= link_to_add_fields 'Add variant', f, :variants, 'add-variant-builder-btn btn' %>
  </div>

  <div class="field">
  	<%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).on('click', '.add-variant-builder-btn', function(){
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).parent('.variants-container').before($(this).data('fields'));
    event.preventDefault();
  })

  $(document).on('click', '.remove-variant-builder-item', function(event){
    $(this).siblings('input').val('1');
    $(this).closest('.variant-builder-item').hide();
    event.preventDefault();
  })
</script>
