<%= form_for @cart_item do |f| %>
	<h4><%= @product.name %></h4>
	<% if @product.varients.count > 1 %>
		<%= f.collection_select :varient_id, @product.varients, :id, :name  %>
	<% else %>
		<%= f.hidden_field :varient_id, value: @product.varients.first.id %>
	<% end %>
	<%= f.number_field :quantity, value: 1, min: 1 %>
	<%= f.submit %>
<% end %>
