<p>商店名稱： <%= @order.shop.name %></p>
<p>訂單 ID: <%= @order.id %></p>
<p>總金額: <%= @order.total %></p>
<hr>
<h5>訂單資訊</h5>
<p><%= @order.bill_name %></p>
<p><%= @order.bill_address %></p>
<p><%= @order.bill_phone %></p>
<p><%= @order.shipping_name %></p>
<p><%= @order.shipping_address %></p>
<p><%= @order.shipping_phone %></p>
<hr>
<p>明細</p>
<table>
	<thead>
		<tr>
			<th>名稱</th>
			<th>規格</th>
			<th>金額</th>
			<th>數量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
		<% @order.line_items.each do |item| %>
			<tr>
				<td><%= item.product_name %></td>
				<td><%= item.variant_name %></td>
				<td><%= item.price %></td>
				<td><%= item.quantity %><%= item.unit_name %></td>
				<td><%= item.price * item.quantity %></td>
			</tr>
		<% end %>
	</tbody>
</table>
